body {
    background-color: rgb(69, 27, 107);
    
    justify-items: center;
    padding-top: 3vw;
    place-items: center;
}
.h1{
    text-align:center;
    font-family: papyrus;
}


.container {
      display: grid;
      grid-template-columns: 15% auto 15%;
      height: 30vh;
}

.container2{
    justify-items: center;
   
}
.top{
border-color: #123d37;
    border-style: double;
    border-width: 30px;
    background-color: #1a5a51;
    width: 30;
    height:70px;


}

.center {
  
    border-color: rgb(117, 65, 37);
    border-style: double;
    border-width: 30px;
    background-color: rgb(243, 127, 66);
}

.left {
    border-color: rgb(117, 65, 37);
    border-style: double;
    border-width: 30px;
    background-color: rgb(243, 127, 66);

}

.right{
    border-color: rgb(117, 65, 37);
    border-style: double;
    border-width: 30px;
    background-color:rgb(243, 127, 66);

}

